    html{
        height: 100%;
        margin: 5px;
        overflow: hidden;
    }

    body{
        height: 100%;
        margin: 0;
        background-color: #eafff4;
    }

    #main-box{
        height: 30%;
        display: flex;
    }
    #form{
        height: 100%;
    }

    #textbox {
        width: 70%;
        height: 100%;
    }
    #text {
        box-sizing:border-box;
        width: 100%;
        height: 100%;
        font-size: 3em;
    }
    #main-right-box{
        width:30%;
        height: 100%;
        display: flex;
        flex-direction:column;

    }
    #sub-box{
        height: 60%;
        display: flex;
    }
    #graph-box{
        height: 100%;
        width: 100%;
        align-items: center;
    }

    #manual_container{
        height: 100%;
        width:100%
    }

    #history-box{
        width: 100%;
        height: 100%;
    }

    #history{
        display: flex;
        align-items: center;
    }

    #history-legend{
        font-size: 1.7em;
        margin-left: 2%;
        margin-right: 2%;
    }

    #history-play{
        font-size: 1em;
        color: #028760;
        background-color: #FFFFFF;
    }

    #history-graph{
        font-size: 1em;
        color: #028760;
        background-color: #FFFFFF;
    }

    #button-box{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction:column;
    }

    #text_submit{
        font-size: 1.5em;
        color: #028760;
        background-color: #FFFFFF;
        margin: 0.5% 1%;
    }

    #manual{
        font-size: 1.5em;
        color: #028760;
        background-color: #FFFFFF;
        margin: 0.5% 1%;
    }


    #option-box{
        height: 5%;
        display: flex;
    }

    #graph_container{
        width: 100%;
        height: 60%;
    }

    #manual_container{
        width: 100%;
        height: 40%;
    }

    #lf0Bar {
        width: 100%;
        height: 100%;
        display :flex;
        align-items: flex-end;
        overflow: scroll;
        position: relative;
    }

    #slider-all{
        display: flex;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transform-origin: left center;
    }

    #slider{
        width: 80%;
    }

    #slider-value{
        width: 28px;
        text-align: center;
        /*display: inline-block;*/
        display: none;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #rec-main-box{
        height: 5%;
    }

    #reflect{
        color: #028760;
        background-color: #FFFFFF;
        font-size: 1em;
        margin: 0 3px;
    }

    #click{
        display: flex;
        align-items: center;
    }

    #click > label > input{
        display: none;
    }

    #rec{
        color: #028760;
        background-color: #FFFFFF;
        font-size: 1em;
        margin: 0 3px;
    }

    #click > label{
        font-size: 1em;
        color: #028760;					/* ラベルテキストの色を指定する */
        background-color: #FFFFFF;/* ラベルの背景色を指定する */
        padding: 1px 6px 2px;					/* ラベルとテキスト間の余白を指定する */
        border: 4px #AAAAAA;/* ラベルのボーダーを指定する */;
        border-width: 2px;
        border-style: outset;
        margin: 0 3px;
    }
